<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
    <h1>Mis libros</h1>
    {% for resultado in libreria %}
        <ul>
          <li>
              <small>Id del libro</small>
              <label>{{resultado._id}}</label><br>

              <small>titulo del libro</small>
              <label>{{resultado.titulo}}</label><br>
              
              <small>autor del libro</small>
              <label>{{resultado.autor}}</label><br>
            
              <small>precio del libro</small>
              <label>{{resultado.precio}}</label> <br>

              <small>stock del libro</small>
              <label>{{resultado.stock}}</label><br>
          </li>
        </ul>
    {%endfor%}
    <h3><a href="/">Volver</a></h3>
</body>
</html>